@using Microsoft.AspNetCore.Identity
@using App.CoreLib.EF.Data.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    
    <li class="nav-item">
        <form  class="form-inline" asp-area="Security" asp-page="/Account/SignOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}
else
{
    
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Security" asp-page="/Account/SignIn">Login</a>
    </li>
}
</ul>
